.searchForm {
  display: flex;
  align-items: flex-start;
  margin: 0 0 1.75rem;

  .heading {
    margin: 1rem 0 0.5rem;
  }

  .searchBox {
    width: calc(100% - 9rem);
    margin-right: 0.5rem;
  }

  .searchButton {
    float: right;
    width: 8rem;
  }
}
