@import 'variables.pcss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 15px;
  background: var(--colour-black);
  color: var(--colour-white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', 'Quicksand', Arial, sans-serif;
  font-weight: bold;
}
